In [1]:
market2 <- read.table('../reg2020/market-2.txt',header=T)
t(market2)

   [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
ID 1.0   2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0 10.0  11.0  12.0  13.0  14.0
X1 4.2   8.5  9.3  7.5  6.3 12.2  6.5 10.4  5.8  9.2   7.2   8.5  10.6  13.9
X2 4.5  12.0 15.0  8.5  7.4 18.5  5.5 16.5  3.7 13.5   5.2  15.0  14.4  13.3
Y  9.3  18.5 22.8 17.7 14.6 27.9 12.5 25.2 10.8 20.5  14.9  19.2  22.5  28.4
   [,15]
ID 15.0
X1 12.7
X2 12.5
Y  25.6

In [2]:
market2.lm <- lm(Y ~ X1 + X2, data=market2)
market2.lm

Call:
lm(formula = Y ~ X1 + X2, data = market2)

Coefficients:
(Intercept)           X1           X2
     0.8504       1.5581       0.4274

In [3]:
market2.lm.summary <- summary(market2.lm)
market2.lm.summary

Call:
lm(formula = Y ~ X1 + X2, data = market2)

Residuals:
     Min       1Q   Median       3Q      Max
-1.30465 -0.69561 -0.01755  0.69003  1.53127

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.85041    0.84624   1.005 0.334770
X1           1.55811    0.14793  10.532 2.04e-07 ***
X2           0.42736    0.08431   5.069 0.000276 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.9318 on 12 degrees of freedom
Multiple R-squared:  0.9799,	Adjusted R-squared:  0.9765
F-statistic: 292.5 on 2 and 12 DF,  p-value: 6.597e-11

In [4]:
f.score <- market2.lm.summary$fstatistic[['value']]
f.score

critical.region <- qf(0.95, 2, 12)
critical.region

f.score > critical.region

[1] 292.4867

[1] 3.885294

[1] TRUE

In [5]:
market2.lm.anova <- anova(market2.lm)
market2.lm.anova

          Df Sum Sq    Mean Sq     F value   Pr(>F)
X1         1 485.57264 485.5726378 559.28259 1.955420e-11
X2         1  22.30489  22.3048873  25.69077 2.758327e-04
Residuals 12  10.41847   0.8682062        NA           NA