In [1]:
melanoma <- read.csv('../reg2020/melanoma.csv')
melanoma

   age   region cases total   ltotal
1  35-44 south   75    220407 12.30323
2  45-54 south   68    198119 12.19662
3  55-64 south   63    134084 11.80622
4  65-74 south   45     70708 11.16631
5  75+   south   27     34233 10.44095
6  <35   south   64   1074246 13.88713
7  35-44 north   76    564535 13.24376
8  45-54 north   98    592983 13.29292
9  55-64 north  104    450740 13.01865
10 65-74 north   63    270908 12.50953
11 75+   north   80    161850 11.99443
12 <35   north   61   2880262 14.87339

In [2]:
#offset은 상쇄항
log.rt <- glm(cases~age+region-offset(log(total)),family=poisson(link=log),data=melanoma)
log.rt

Call:  glm(formula = cases ~ age + region - offset(log(total)), family = poisson(link = log),
    data = melanoma)

Coefficients:
(Intercept)     age45-54     age55-64     age65-74       age75+       age<35
    -8.8609       0.1157       0.4444       0.5683       1.1473      -1.7974
regionsouth
     0.8195

Degrees of Freedom: 11 Total (i.e. Null);  5 Residual
Null Deviance:	    895.8
Residual Deviance: 6.215 	AIC: 92.44

In [4]:
log.rt.summary <- summary(log.rt)
log.rt.summary

Call:
glm(formula = cases ~ age + region - offset(log(total)), family = poisson(link = log),
    data = melanoma)

Deviance Residuals:
      1        2        3        4        5        6        7        8
 0.4780  -0.4273  -0.5302   0.7469  -1.3610   0.8686  -0.4581   0.3667
      9       10       11       12
 0.4279  -0.5932   0.8904  -0.8283

Coefficients:
            Estimate Std. Error  z value Pr(>|z|)
(Intercept) -8.86093    0.08795 -100.745  < 2e-16 ***
age45-54     0.11571    0.11249    1.029    0.304
age55-64     0.44443    0.11240    3.954 7.68e-05 ***
age65-74     0.56835    0.12621    4.503 6.70e-06 ***
age75+       1.14730    0.12679    9.049  < 2e-16 ***
age<35      -1.79737    0.12093  -14.863  < 2e-16 ***
regionsouth  0.81948    0.07103   11.537  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for poisson family taken to be 1)

    Null deviance: 895.8197  on 11  degrees of freedom
Residual deviance:   6.2149  on  5  degrees of freedom
AIC: 92.44

Number of Fisher Scoring iterations: 4

In [5]:
log.rt.summary$coefficients

            Estimate   Std. Error z value     Pr(>|z|)
(Intercept) -8.8609343 0.08795391 -100.745204 0.000000e+00
age45-54     0.1157128 0.11249047    1.028645 3.036465e-01
age55-64     0.4444275 0.11239675    3.954096 7.682470e-05
age65-74     0.5683492 0.12621421    4.503052 6.698436e-06
age75+       1.1473043 0.12678743    9.049038 1.442334e-19
age<35      -1.7973750 0.12092630  -14.863392 5.696626e-50
regionsouth  0.8194846 0.07102793   11.537497 8.537307e-31