In [1]:
health <- read.table('../reg2020/health.txt', header=T)
t(health)

   [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13] [,14]
ID   1    2    3    4    5    6    7    8    9   10   ⋯      21    22    23
X1 217  141  152  153  180  193  162  180  205  168   ⋯     161   132   257
X2  67   52   58   56   66   71   65   80   77   74   ⋯      52    62    64
X3 260  190  203  183  170  178  160  170  188  170   ⋯     190   163   313
X4  91   66   68   70   77   82   74   84   83   79   ⋯      69    59    96
Y  481  292  338  357  396  429  345  469  425  358   ⋯     391   264   487
   [,15] [,16] [,17] [,18] [,19] [,20] [,21]
ID  24    25    26    27    28    29    30
X1 236   149   161   198   245   141   177
X2  72    57    57    59    70    63    53
X3 225   173   173   220   218   193   183
X4  84    68    65    62    69    60    75
Y  481   374   309   367   469   252   338

In [3]:
h1.lm <- lm(Y ~ X1, data=health)
h1.lm

Call:
lm(formula = Y ~ X1, data = health)

Coefficients:
(Intercept)           X1
     94.606        1.565

In [4]:
h2.lm <- lm(Y ~ X1 + X4, data=health)
h2.lm

Call:
lm(formula = Y ~ X1 + X4, data = health)

Coefficients:
(Intercept)           X1           X4
   -63.2274       0.8448       3.9324

In [5]:
h3.lm <- lm(Y ~ X1 + X3 + X4, data=health)
h3.lm

Call:
lm(formula = Y ~ X1 + X3 + X4, data = health)

Coefficients:
(Intercept)           X1           X3           X4
   -25.4145       1.2064      -0.4475       3.7374

In [6]:
h4.lm <- lm(Y ~ X1 + X2 + X3 + X4, data=health)
h4.lm

Call:
lm(formula = Y ~ X1 + X2 + X3 + X4, data = health)

Coefficients:
(Intercept)           X1           X2           X3           X4
    -3.6186       1.2676      -0.5252      -0.5050       3.9030

In [7]:
anova(h1.lm, h2.lm)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 28     50795.05 NA       NA        NA           NA
2 27     24049.49  1 26745.56  30.02684 8.418827e-06

In [8]:
anova(h2.lm, h3.lm)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 27     24049.49 NA       NA        NA         NA
2 26     20855.98  1 3193.511  3.981174 0.05658996

In [9]:
anova(h3.lm, h4.lm)

  Res.Df RSS      Df Sum of Sq F         Pr(>F)
1 26     20855.98 NA       NA         NA        NA
2 25     20551.36  1 304.6168  0.3705555 0.5481935